#product-list {
  display: flex;
  flex-wrap: wrap;
  /* Permette il wrapping dei div quando non ci sono abbastanza spazi orizzontali */
}

/* Stile per i singoli prodotti */
.product-item {
  flex: 0 0 auto;
  /* Impedisce ai div di espandersi per riempire lo spazio extra */
  width: 20%;
  /* Imposta la larghezza dei div del prodotto, puoi personalizzare in base alle tue esigenze */
  padding: 10px;
  box-sizing: border-box;
  /* Aggiungi altri stili personalizzati per i prodotti div */
}